# Ambientes Virtuais
**/.venv/
**/venv/
**/env/

# Arquivos de Cache do Python
**/__pycache__/
**/*.py[cod]

# Arquivos de Configuração de IDEs/Editors
**/.vscode/
**/.idea/
**/*.sublime-project
**/*.sublime-workspace
**/.*.swp
**/.*.swo

# Logs
**/*.log

# Arquivos Temporários do Sistema Operacional
**/.DS_Store
**/Thumbs.db
**/.Trash-*

# Builds e Distribuições
**/build/
**/dist/
**/*.egg-info/

# Configurações Sensíveis e Secretas
**/.env
**/.env.*
**/.secret

# Arquivos de Pacotes de Instalação
**/*.spec

# Arquivos Binários e Executáveis
**/*.exe
**/*.dll
**/*.so
**/*.dylib

# Outros Arquivos Temporários
**/*.tmp
**/*.temp

# Arquivos Gerados por Testes
**/.coverage
**/.tox/
**/nosetests.xml

# Arquivos de Configuração de Contêineres
**/.dockerignore
**/Dockerfile

