{% extends 'base.html' %}

{% block content %}

<h2 class="text-center" style="margin-top: 1.2rem;">Update Book</h2>
<hr>
<form action="{{url_for('update_book', id=book.id)}}" method="post" class="form-group">
    <label for="">Title</label>
    <textarea name="title" class="form-control" required >{{book.title}}</textarea>

    <label for="">Description</label>
    <textarea name="description" class="form-control" required >{{book.description}}</textarea>

    <label for="">Price</label>
    <input class="form-control" type="number" name="price" placeholder="Book Price" value={{book.price}} required  style="margin-bottom: 1.2rem;">

    <button class="btn btn-success">Update</button>
</form>

{% endblock content %}